{% extends 'base.html' %}
{% block content %}
    {% include 'navbar.html' %}
    

    <div class="wrapper">
        <div class="sidebar">
            
            <h4>Parametry:</h4> 
            <form method="post">
            <button class="submit-btn-2" name="drop-value" type="submit" method="GET" action="">Wprowadź</button>  
        
            <ul>
                <li>
                
                {{ div_velocity_slider | safe }}
                </li>
                <li>
                
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange" name="slider_proba">
                </li>
            </ul>
        </form>

            
        
        </div>
        <div class="section">
            <div class="top_navbar">
                <div class="hamburger">
                    <a href="#">
                        <button class="side-panel-toggle" type="button">
                            <span class="material-icons sp-icon-open">keyboard_double_arrow_left</span>
                            <span class="material-icons sp-icon-close">keyboard_double_arrow_right</span>
                          </button> 
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
      
        <div class="row mt-5">
            <div class="col-3"></div>
            
            <div class="col-6">
                {{ div_velocity_plot | safe }}
            </div>
        </div>
        <div class="row mt-5">
            
        </div>
        <div class="row mt-5">
            
        </div>
    </div>
    
   
{{ script_velocity_plot | safe }}
{{ script_velocity_slider | safe }}
    
{% endblock %}