<nav class="navbar navbar-expand-lg sticky-top navbar-dark" style="background-color: #033a63" >
    <a class="navbar-brand title-text" href="#">Symulacja tempomatu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form name="dropdown-form" action="/change_control" method="POST">
            <select class="my-dropdown-menu" name="dropdown-select" style="padding:8px;border-radius:8px;">
                <option value="1" {% if selected_control=='1' %} selected {% endif %}>Sterowanie modelowe</option>
                <option value="2" {% if selected_control=='2' %} selected {% endif %}>Sterowanie rozmyte</option>
                
            </select>
            <button class="submit-btn" type="submit">Załaduj</button>
        </form>
    </div>
</nav>